@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arima', cursive;
}

header {
  display: flex;
  border: black 2px solid;
  margin: 1rem;
}

h1 {
  text-align: center;
}

.logo {
  margin-right: auto;
}

a {
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style: none;
}

.link {
  margin-right: 1rem;
}

header h1 {
  text-align: center;
  margin-top: 30px;
}

.list-container {
  width: 95%;
  margin: 30px auto;
  border: 2px solid black;
  box-shadow: 2px 5px 5px black;
}

.list-container div {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-container div p {
  flex-grow: 9;
  padding-left: 20px;
}

.list-container div:nth-child(odd) {
  background-color: rgb(205, 197, 197);
}

.delete {
  border: 2px solid black;
  box-shadow: 1px 2px 2px black;
  background: #fff;
  flex-grow: 1;
  margin-right: 10px;
  height: 30px;
  min-width: 20%;
}

.between_section {
  width: 10%;
  margin: auto;
  margin-top: 50px;
  box-shadow: 1px 2px 2px black;
  color: black;
}

.new_book {
  width: 30%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: end;
  padding-bottom: 50px;
}

.new_book h1 {
  text-align: center;
}

.new_book .input {
  width: 100%;
  border: 2px solid black;
  padding: 5px 0 5px 5px;
  margin-top: 15px;
  color: black;
  font-weight: 600;
  box-shadow: 2px 2px 2px black;
}

.book_add {
  box-shadow: 2px 2px 2px black;
  margin-top: 15px;
  padding: 10px;
  border: 2px solid black;
  background-color: #fff;
  font-weight: 600;
}

.contact-page {
  text-align: center;
}

.date-p {
  text-align: right;
}

.hide {
  display: none;
}

footer {
  width: 70%;
  margin: 0 auto;
  border: 2px solid black;
  position: absolute;
  bottom: 10px;
  left: 15%;
}

.copyright {
  padding: 20px;
  font-weight: 700;
}
